
// Common - Base
//------------------------------------------------------------------------------

html {
  font-size: 62.5%;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: $font-arial;
  font-size: $font-size;
  line-height: $font-line-height;
}

a {
  color: $color-red;
  text-decoration: none;

  &:hover {
    color: $color-red;
    text-decoration: underline;
  }
}

.container {
  a {
    color: $color-default-font;
    text-decoration: none;
  }

  ol, ul, li {
    margin: 0;
    padding: 0;
    
    color: $color-default-font;
  }

  ol, ul {
    list-style-type: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  
  line-height: $font-line-height; 
  font-family: $font-arial;
  font-size: $font-size;
}