.follow-us {
  @include clearfix;
  // font-size: 0;

  li {
    float: left;

    display: inline-block;
    margin-left: 13px;

    vertical-align: top;
    line-height: 32px;
  }

  li:first-child {
    margin-left: 0;
  }

  [class*="icon-"] {
    display: inline-block;
    
    width: 32px;
    height: 32px;
    margin-right: 1px;
    
    background: url('../img/sprite.jpg') no-repeat;
    vertical-align: top;
  }

  .icon-f {
    background-position: 0 0;
  }

  .icon-t {
    background-position: -32px 0; 
  }

  .icon-g {
    background-position: -64px 0;
  }

  
}

.randomly-selected {
  li {
    margin-top: 18px;
    padding-left: 25px;
    background: url('../img/dash.png') no-repeat;
  }

  li:first-child {
    margin-top: 0;
  }
}

.contact {
  li {
    margin-top: 11px;
  }

  li:first-child {
    margin-top: 0;
    font-weight: bold;
  }
}