<aside class="news-area">
	<div class="news-box-wrapper box">
		<section class="news-box">
			<div class="news-box-header">
				<h2>X-plosion products</h2>
			</div>
			<div class="news-box-body">
				<ul class="news">
					<li>
						<h3 class="news-title">We say NO to artificial flavors</h3>
						<div class="news-thumbnail">
							<a class="gallery" href="img/image1.jpg">
								<img src="img/image1.jpg" alt="X-Plosion soda bottle">
							</a>
						</div>
						<div class="news-text">
							<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<a href="#">More</a>
						</div>
					</li>
					<li>
						<h3 class="news-title">New flavour added</h3>
						<div class="news-thumbnail">
							<a class="gallery" href="img/image2.jpg">
								<img src="img/image2.jpg" alt="">
							</a>
						</div>
						<div class="news-text">
							<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<a href="#">More</a>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section class="news-box">
			<div class="news-box-header last">
				<h2>X-plosion expansion</h2>
			</div>
			<div class="news-box-body last">
				<ul class="news">
					<li>
						<h3 class="news-title">X-Plosion is a hit in Japan</h3>
						<div class="news-thumbnail">
							<a class="gallery" href="img/image3.jpg">
								<img src="img/image3.jpg" alt="">
							</a>
						</div>
						<div class="news-text">
							<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<a href="#">More</a>
						</div>
					</li>
					<li>
						<h3 class="news-title">Danish elder hooked on X-Plosion</h3>
						<div class="news-thumbnail">
							<a class="gallery" href="img/image4.jpg">
								<img src="img/image4.jpg" alt="">
							</a>
						</div>
						<div class="news-text">
							<p>Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<a href="#">More</a>
						</div>
					</li>
				</ul>
			</div>
		</section>
	</div>
</aside>