<aside class="sidebar">
  <section class="box">
    <div class="box-header">
      <h3>Follow us</h3>
    </div>
    <div class="box-body box-reduced">
    	<ul class="list-default follow-us">
        <li><a href="#"><span class="icon-f"></span>Facebook</a></li>
        <li><a href="#"><span class="icon-t"></span>Twitter</a></li>
        <li><a href="#"><span class="icon-g"></span>Google+</a></li>
    	</ul>
    </div>  
  </section>

  <section class="box">
    <div class="box-header">
      <h3>Randomly selected</h3>
    </div>
    <div class="box-body">
    	<ul class="list-default randomly-selected">
        <li>X-Plosion is a hit in Japan</li>
        <li>3 new flavors added</li>
        <li>Check our new promo at Youtube</li>
        <li>We say NO to artificial flavours</li>
        <li>X-Plosion and your health</li>
    	</ul>
    </div>
  </section>

  <section class="box">
    <div class="box-header">
      <h3>Where you can find us?</h3>
    </div>
    <div class="box-body">
      <ul class="list-default contact">
        <li>X-Plosion Ltd</li>
        <li>9 Danbury Road</li>
        <li>Wilton</li>
        <li>CT 06897</li>
      </ul>
    </div>
  </section>
</aside>
