.box {
  overflow: hidden;

  margin-bottom: 18px;
  border-right: 2px solid $color-box-border;
  border-bottom: 2px solid $color-box-border;
  
  background-color: #fff;
  border-radius: 8px;

  &-header {
    border-bottom: 1px dotted $color-separator;
    padding: 19px 20px;

    h3 {
      line-height: 14px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      
      color: $color-pink;
    }
  }

  &-body {
    padding: 20px;
  }

  &-reduced {
    padding: 15px;
  }
}

.box:last-child {
  margin-bottom: 0;
}
