.news-box {
  float: left;
  // width: 50%;

  &-header {
    border-bottom: 2px solid #e5e5e5;
    padding: 22px 0 22px 19px;
    
    background: #fb2e6d;
    background: linear-gradient(to bottom,  #fb2e6d 0%,#e61052 50%); /* W3C */
    
    h2 {
      font-weight: bold;
      text-transform: uppercase;

      color: #fff;
    }
  }

  &-header.last {
    border-left: 1px dotted $color-header-separator;
  }

  &-body {
    padding: 30px 20px;
  }

  &-body.last {
    border-left: 1px dotted $color-separator;  
  }
}

.news {
  list-style-type: none;

  li {
    @include clearfix;

    margin-bottom: 30px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  &-title {
    margin-bottom: 18px;

    line-height: 13px;
    font-size: 13px;
    font-weight: bold;
    
    color: $color-news-title;
  }

  &-thumbnail {
    float: left;

    max-width: 100px;

    .gallery {
      display: block;
    }

    img {
      border: 1px solid #eae1d4;
      padding: 2px;
      max-width: 100px;
    }
  }

  &-text {
    float: left;

    margin-left: 20px;
    width: 160px;

    p {
      margin-top: -4px;
      margin-bottom: 17px;

      line-height: 20px;
      
      color: $color-default-font;
    }
    
    a {
      display: inline-block;
      padding-right: 22px;

      line-height: 12px;

      background: url('../img/dash-pink.png') right no-repeat;
      color: $color-pink;
    }
  }
}
