@@include('head.html', {"pagename": "Home"})

<body>

@@include('header.html')

  <div class="content" id="content">
    <p>content</p>
  </div>
  <!-- / content -->

<p>sidebar</p>
@@include('sidebar.html')
<p>news-area</p>
@@include('news-area.html')

@@include('footer.html')
@@include('scripts.html')

</body>
</html>
