
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-red: #EF4C23 !default;

// Sidebar & news area colors
$color-background: #eae2d7 !default;
$color-box-border: #ded6cc !default;
$color-pink: #e61052 !default;
$color-default-font: #97866f !default;

$color-header-separator: #f388a9 !default;
$color-separator: #d9cbb6 !default;
$color-news-title: #2a1f0f !default;

// Container definitions
$container-width: 960px !default;
$container-padding: 20px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
// $font-size: 1.6em !default;
$font-size: 12px !default;
// $font-line-height: 1.4 !default;
$font-line-height: 12px !default;
